<ion-view title="Home" id="page1">
    <ion-content padding="true" class="has-header">
        <div id="home-markdown3" style="color:#000000;">
            <p>
                <strong>Social Media</strong>
            </p>
        </div>
        <ion-list id="home-list5">
            <ion-item class="item-icon-left dark" id="home-list-item22" ng-click="openBrowser('facebook.com')">
                <i class="icon ion-social-facebook"></i>Facebook</ion-item>
            <ion-item class="item-icon-left dark" id="home-list-item23" ng-click="openBrowser('twitter.com')">
                <i class="icon ion-social-twitter"></i>Twitter</ion-item>
            <ion-item class="item-icon-left dark" id="home-list-item24" ng-click="openBrowser('ask.fm')">
                <i class="icon ion-social-angular"></i>Ask.fm</ion-item>
            <ion-item class="item-icon-left dark" id="home-list-item26" ng-click="openBrowser('youtube.com')">
                <i class="icon ion-social-youtube"></i>YouTube</ion-item>
        </ion-list>
        <div id="home-markdown4" style="color:#000000;">
            <p>
                <strong>Emails</strong>
            </p>
        </div>
        <ion-list id="home-list6">
            <ion-item class="item-icon-left dark" id="home-list-item28" ng-click="openBrowser('gmail.com')">
                <i class="icon ion-email"></i>Gmail</ion-item>
            <ion-item class="item-icon-left dark" id="home-list-item29" ng-click="openBrowser('yahoo.com')">
                <i class="icon ion-social-yahoo"></i>Yahoo</ion-item>
            <ion-item class="item-icon-left dark" id="home-list-item30" ng-click="openBrowser('hotmail.com')">
                <i class="icon ion-ios-email-outline"></i>Hotmail</ion-item>
        </ion-list>
    </ion-content>
</ion-view>